.block {
    height: 5vmin;
    width: 4vmin;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-column-gap: 20px;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 2fr 49fr 49fr;
    grid-column-gap: 20px;
}

.margin {
    margin: 3vmin;
}